<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="gr.atc.heads"
          android:installLocation="auto" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <permission
        android:name="gr.atc.heads.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="gr.atc.heads.permission.MAPS_RECEIVE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".HeadsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Heads" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainTabsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="@string/title_activity_results"
            android:parentActivityName=".MainTabsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gr.atc.heads.MainTabsActivity" />
        </activity>

        <!-- Debug key - kgiannakakis -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBdjQHQUFP-L7LL8mOKVQfhecYl2Dw7mx0" />

        <!-- Release key -->
        <!--
                <meta-data
                    android:name="com.google.android.maps.v2.API_KEY"
                    android:value="AIzaSyCS1Yo85l9R6aGJGwx_RQUcBvOc_plTezM" />
         -->
        <activity
            android:name=".AccountActivity"
            android:label="@string/title_activity_account"
            android:parentActivityName=".MainTabsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gr.atc.heads.MainTabsActivity" />
        </activity>
        <activity
            android:name=".LocationSelectActivity"
            android:label="@string/title_activity_location_select"
            android:parentActivityName=".MainTabsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gr.atc.heads.MainTabsActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainTabsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gr.atc.heads.MainTabsActivity" />
        </activity>
        <activity
            android:name=".TagSelectActivity"
            android:label="@string/title_activity_tag_select" >
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details">
        </activity>
    </application>

</manifest>
